<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>¡Activa tu cuenta!</title>
</head>
<body style="font-family: 'Source Code Pro', Consolas, 'Courier New', 'Lucida Console', Monaco, monospace; color: #333333; line-height: 1.6; margin: 0; padding: 20px;">
    <p>¡Hola, {{user.username }}!</p>
    <p>Gracias por unirte a <strong>Pair Connect</strong>.</p>
    <p>Haz clic en el enlace de abajo para activar tu cuenta y empezar a conectar:</p>
    <p><a href="{{ activation_url }}">Activar cuenta</a></p>
    <p>Si no te registraste, no pasa nada, puedes ignorar este correo.</p>
    <p>¡Un abrazo!<br><br>El equipo de Pair Connect</p>
    <div style="margin-top: 20px;">
        <img src="https://res.cloudinary.com/dwzqcmaod/image/upload/v1728382078/logo_osgyk0.svg" alt="Pair Connect Logo" style="width: 30px; height: auto; display: block;">
    </div>
</body>
</html>

