<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de participación en la sesión</title>
</head>
<body style="font-family: 'Source Code Pro', Consolas, 'Courier New', 'Lucida Console', Monaco, monospace; color: #333333; line-height: 1.6; margin: 0; padding: 20px;">
    <p>¡Hola, {{ developer_name }}!</p>
    <p>Has sido confirmadx para la sesión <strong>{{ session_name }}</strong>.</p>
    <p>La sesión se llevará a cabo el {{ session_date }}. Puedes ver más detalles y unirte a la sesión <a href="{{ session_link }}">aquí</a>.</p>
    <p>¡Te esperamos!</p><br>
    <p>Un saludo,<br><br>El equipo de Pair Connect</p>
    <div style="margin-top: 20px;">
        <img src="https://res.cloudinary.com/dwzqcmaod/image/upload/v1728382078/logo_osgyk0.svg" alt="Pair Connect Logo" style="width: 30px; height: auto; display: block;">
    </div>
</body>
</html>
