<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notificación de interés en la sesión</title>
</head>
<body style="font-family: 'Source Code Pro', Consolas, 'Courier New', 'Lucida Console', Monaco, monospace; color: #333333; line-height: 1.6; margin: 0; padding: 20px;">
    <p>¡Hola, {{ owner_name }}!</p>
    <p>{{ interested_user }} está interesadx en tu sesión <strong>{{ session_name }}</strong>.</p>
    <p>Puedes ver más detalles de la sesión <a href="{{ session_link }}">aquí</a>.</p>
    <p>¡Gracias por usar Pair Connect!</p><br>
    <p>Un saludo,<br><br>El equipo de Pair Connect</p>
    <div style="margin-top: 20px;">
        <img src="https://res.cloudinary.com/dwzqcmaod/image/upload/v1728382078/logo_osgyk0.svg" alt="Pair Connect Logo" style="width: 30px; height: auto; display: block;">
    </div>
</body>
</html>
